/apuntes
/colecciones
/python
data/
Resultados/
RI-tknz-data/
coleccion_2018_final/
RI-tknz-qm/
ejemploRibeiro/
*.tar
*.tar.gz
ejercicio7y8.ipynb
ejercicio9.ipynb
.ipynb_checkpoints/
.gitignore
*.pdf
*.pyc

terrier-project-5.1/
gutemberg/
querys/
jr/
terrier.tutorial
tp2_analisis_texto/modulos/.ipynb_checkpoints/
